

body {
    font-family: Arial;
    text-align: center;
    background-image: url('https://img.goodfon.com/original/2560x1600/d/da/vetka-derevo-zelenye-listya.jpg'); /* Tło z liśćmi */
    background-size: cover;
    background-position: center;
    color: #2e4d2c; 
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #3a5d34; 
}

#liczba {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2e4d2c;
}

#wynik {
    font-size: 28px;
    margin-bottom: 20px;
    color: #3a5d34;
}

#przycisk_dzik {
    border: 2px solid #2e4d2c; 
    border-radius: 15px;
    background-color: #98b494; 
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#obraz_dzik {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#przycisk_start {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #3a5d34; 
    background-color: #98b494; 
    color: #ffffff;
    border-radius: 25px; 
    cursor: pointer;
    margin-top: 20px;
    
}

#przycisk_start:hover {
    background-color: #3a5d34;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #2e4d2c; 
    margin-left: 10px;
}

label {
    font-size: 18px;
    color: #3a5d34;
}
